<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>Galeria</title>
</head>
<body>
 
<div class="container">
        <hr>
        <h1 class="titulo">Deportes</h1>
    <div class="row-cols-3 ">
      {% load static %}          
            <div class="card contenedor color" >
              {% load static %}
              <figure>
                <img src="{% static 'img/ciclismo.jpg' %}" alt="" style="max-width: 100%;">
                <div class="capa">
                  <h3>Ciclismo</h3>
                    <p >El ciclismo de competición es un deporte en el que se utilizan distintos tipos de bicicletas. Hay varias modalidades o 
                      disciplinas en el ciclismo de competición como ciclismo en carretera, ciclismo en pista, ciclismo de montaña, trial, ciclocrós y BMX y dentro de ellas varias especialidades.</p>
                </div>
              </figure>
            </div>
            
            {% load static %}
            <div class=" card contenedor color" >
              <figure>
                <img src="{% static 'img/voleyball.jpg' %}" alt="" style="max-width: 100%;">
                <div class="capa">
                  <h3>Voleyball</h3>
                    <p >El Voleibol es un juego de pista entre dos equipos de seis jugadores por lado que se juega golpeando una pelota al lado contrario por encima de una red.
                       Cuando la pelota toca el piso o se sale de una de las dos partes de la cancha es un punto o una oportunidad para sacar para el otro equipo</p>
                </div>
              </figure>
            </div>
          
            {% load static %}
            <div class="card contenedor color" >
              <figure>
                <img src="{% static 'img/football.jpg' %}" alt="" style="max-width: 100%;">
                <div class="capa">
                  <h3>Futbol</h3>
                    <p >El Fútbol es un deporte jugado en un campo rectangular con dos porterías entre dos equipos de once jugadores cada uno con una pelota esférica, la cual debe ser pateada.
                      El objetivo del juego es introducir el balón el mayor número posible de veces en la portería del contrario, esto se llama marcación de un gol, el equipo vencedor es el que consiga introducir más goles.
                    </p>
                </div>
              </figure>
            </div>
           
            {% load static %}
            <div class="card contenedor color" >
              <figure>
                <img src="{% static 'img/americanfoot.jpg' %}" alt="" style="max-width: 100%;">
                <div class="capa">
                  <h3>Futbol Americano</h3>
                    <p >El Fútbol americano es un deporte de contacto en el que dos equipos de jugadores intentan llevar la pelota a la zona de anotación o patearla entre los postes.
                       Cada intento permite un pase hacia adelante, y finaliza cuando el equipo rival derriba al portador de la pelota o una pelota cae al suelo.</p>
                </div>
              </figure>
            </div>
          
            {% load static %}
            <div class="card contenedor color" >
              <figure>
                <img src="{% static 'img/basketball.jpg' %}" alt="" style="max-width: 100%;">
                <div class="capa">
                  <h3>Basketball</h3>
                    <p >El Basketball es un deporte de equipo, jugado entre dos conjuntos de cinco jugadores cada uno durante cuatro períodos o cuartos de diez​ o doce minutos cada uno.
                      El equipo ganador es el que obtiene el mayor número de puntos.</p>
                </div>
              </figure>
            </div>
          
            {% load static %}
            <div class="card contenedor color" >
              <figure>
                <img src="{% static 'img/Tenis.jpg' %}" alt="" style="max-width: 100%;">
                <div class="capa">
                  <h3>Tenis</h3>
                    <p >El Tenis es un deporte que se practica con raquetas y una pequeña pelota. Pueden jugarlo dos individuos (uno contra uno) o dos parejas (dos personas contra las otras dos). 
                      El objetivo es impactar la pelota para que pase por encima de la red que divide la cancha a la mitad, intentando que el rival no consiga devolverla.</p>
                </div>
              </figure>
            </div>
          
    </div>
    </div>

    
</body>
</html>